<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_login.css') }}">
</head>
<body>
    <div class="container">
        <div class="logo">FITFIANES</div>
        
        <!-- Conectamos el formulario con Flask -->
        <form method="POST" action="{{ url_for('registro') }}">
            <input type="text" name="username" placeholder="Nombre de Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Registrar</button>
        </form>

        <!-- Botón para volver al login -->
        <a href="{{ url_for('login') }}" class="btn volver">Volver al Login</a>
    </div>
</body>
</html>





